@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins";
    color:white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:#143447;
}


.container{
    position: relative;
    width: 750px;
    height: 350px;
    border: 2px solid gold;
    box-shadow: 0 0 25px gold;
    overflow:hidden;
}

.Registercontainer{
    position: relative;
    width: 750px;
    height:560px;
    border: 2px solid gold;
    box-shadow: 0 0 25px gold;
    overflow:hidden;
}


.container .form-box{
    position: absolute;
    top:0;
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Registercontainer .form-box{
    position: absolute;
    top:0;
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-box .Login{
    left: 0;
    padding: 0 40px;
}

.form-box .Register{
    left: 0;
    padding: 0 40px;
}

.form-box h2{
    font-size: 32px;
    text-align:center;
}

.form-box .input-box{
   position:relative;
   width: 100%;
   height: 50px;
   margin-top:25px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right:23px;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom: 2px solid gold;
}


.input-box label{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    font-size: 12px;
    color: #fff;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top:-5px;
    color:gold;
}

.input-box i{
    position: absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
    font-size: 18px;
    transition: .5s;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i{
    top:-5px;
    color:gold;
}

.loginbtn{
    position: relative;
    width:50%;
    height:45px;
    margin-left:80px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid gold;
    overflow: hidden;
    z-index: 1;
}

.loginbtn::before{
    content:"";
    position:absolute;
    height:300%;
    width:100%;
    background: linear-gradient(#143447, gold,#143447, gold);
    top:-100%;
    left:0;
    z-index:-1;
    transition: .5s;
}

.loginbtn:hover:before{
    top:0;
}

.regi-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
}

.regi-link a{
    text-decoration: none;
    color: gold;
    font-weight:600;
}

.regi-link a:hover{
    text-decoration:underline;
}

.info-content{
    position:absolute;
    top:0;
    height:100%;
    width:50%;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.info-content.Login{
    right:0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.info-content h2{
    text-transform: uppercase;
    font-size:36px;
    line-height: 1.3;
}

.info-content p{
    font-size: 16px;
}


.container .curve-shape{
    position:absolute;
    right:0;
    top:-5px;
    height:600px;
    width:850px;
    background:linear-gradient(45deg,#143447,gold);
    transform:rotate(10deg) skewY(40deg);
    transform-origin:bottom right;
}


.Registercontainer .curve-shape{
    position:absolute;
    right:0;
    top:-5px;
    height:600px;
    width:850px;
    background:linear-gradient(45deg,#143447,gold);
    transform:rotate(10deg) skewY(40deg);
    transform-origin:bottom right;
}



